In [150]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1

In [67]:
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ")


Rank=[]
Name=[]
Artist_Name=[]
Upload_date_Required=[]
Views_Mentioned=[]

Name_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[1]")
for i in Name_tags:
    Names=i.text
    Name.append(Names)

Artist_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[2]")
for i in Artist_tags:
    Artist=i.text
    Artist_Name.append(Artist)
    
Upload_date_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[4]")
for i in Upload_date_tags:
    Upload_date=i.text
    Upload_date_Required.append(Upload_date)

Views_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[3]")
for i in Views_tags:
    Views=i.text
    Views_Mentioned.append( Views)
    
Rank = list(range(1, len(Name_tags)+1))


df=pd.DataFrame({'Rank': Rank,'Name': Name,'Artist':Artist_Name,'Upload_date':Upload_date_Required,'Views(billions)': Views_Mentioned})
df

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

,Rank,Name,Artist,Upload_date,Views(billions)
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
1,2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.44
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
4,5,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.27
5,6,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.26
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
8,9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.23
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.15
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.11
11,12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.63
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.58
13,14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.54
14,15,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
15,16,"""Sugar""[41]",Maroon 5,"January 14, 2015",4.05
16,17,"""Lakdi Ki Kathi""[42]",Jingle Toons,"June 14, 2018",4.04
17,18,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.02
18,19,"""Roar""[44]",Katy Perry,"September 5, 2013",4.00
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.93
20,21,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.84
21,22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
22,23,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.80
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.77
24,25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.74
25,26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.72
26,27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.66
27,28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.63
28,29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.61
29,30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.60

# Q2

In [141]:
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")

fixture=driver.find_element(By.XPATH, "//div[@id='imw-international-men']//a[@class='border-0 '][normalize-space()='Fixtures & Results']")
fixture.click()

time.sleep(50)

Series_Title=[]
Place_Location=[]
Date_Required=[]
Time_Mentioned=[]

all_matches = driver.find_elements(By.XPATH, "//div[@class='match-info']")

for m in all_matches:
    series_elem = m.find_element(By.XPATH, ".//h5")
    Series_Title.append(series_elem.text)
    
    place_elem = m.find_element(By.XPATH, ".//div[@class='match-venue ng-scope']")
    Place_Location.append(place_elem.text)
    
    
    date_elem = m.find_element(By.XPATH, ".//div[@class='match-dates ng-binding']")
    Date_Required.append(date_elem.text)
    
    time_elem = m.find_element(By.XPATH, ".//div[@class='match-time no-margin ng-binding']")
    Time_Mentioned.append(time_elem.text)

df=pd.DataFrame({"Series":Series_Title,'Place':Place_Location,'Date':Date_Required,'Time':Time_Mentioned})
df

,Series,Place,Date,Time
0,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium, Bengaluru",13 Jun,13:30 IST
1,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00 IST
2,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",16 Jun,13:30 IST
3,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",19 Jun,13:30 IST
4,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",23 Jun,13:30 IST

# Q3

In [148]:
driver=webdriver.Chrome()
driver.get("https://www.statisticstimes.com/economy/india-statistics.php")

link=driver.find_element(By.XPATH,"//a[normalize-space()='» GDP of Indian states']")
link.click()

Rank_Title=[]
State_Title=[]
GSDP_22_23=[]
GSDP_21_22=[]
Share_18_19_Required=[]
GDP_Mentioned=[]

rank_tags=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in rank_tags:
    rank=i.text
    Rank_Title.append(rank)
mid = len(Rank_Title) // 2
Rank_Title = Rank_Title[:mid]
Rank_Title.pop()

State_tags=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in State_tags:
    State=i.text
    State_Title.append(State)
mid_S = len(State_Title) // 2
State_Title = State_Title[:mid_S]
State_Title.pop()

GSDP1_tags=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[3]")
for i in GSDP1_tags:
    GSDP1=i.text
    GSDP_22_23.append(GSDP1)
    
GSDP2_tags=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
for i in GSDP2_tags:
    GSDP2=i.text
    GSDP_21_22.append(GSDP2)
    
Share_18_19_tags=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
for i in Share_18_19_tags:
    Share_18_19=i.text
    Share_18_19_Required.append(Share_18_19)

GDP_tags=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for i in GDP_tags:
    GDP=i.text
    GDP_Mentioned.append(GDP)

df=pd.DataFrame({"Rank":Rank_Title,'State':State_Title,'GSDP(22-23)':GSDP_22_23,'GSDP(21-22)':GSDP_21_22,'Share(18-19)':Share_18_19_Required,"GDP":GDP_Mentioned})
df

,Rank,State,GSDP(22-23),GSDP(21-22),Share(18-19),GDP
0,1,Maharashtra,-,-,"3,108,022",13.17%
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%
10,11,Kerala,-,"1,046,188","934,542",3.96%
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%
12,13,Haryana,"1,095,535","984,055","868,905",3.68%
13,14,Odisha,"832,790","753,177","662,886",2.81%
14,15,Bihar,-,"751,396","650,302",2.76%
15,16,Punjab,"736,423","676,164","617,192",2.62%
16,17,Assam,"565,401","493,167","411,454",1.74%
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%
18,19,Jharkhand,-,"393,722","358,863",1.52%
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%
22,23,Goa,-,"93,672","84,266",0.36%
23,24,Tripura,-,"72,636","62,550",0.27%
24,25,Chandigarh,-,"54,285","46,096",0.20%
25,26,Puducherry,-,"49,643","43,810",0.19%
26,27,Meghalaya,"47,381","42,697","38,785",0.16%
27,28,Sikkim,-,"42,756","37,557",0.16%
28,29,Manipur,-,-,"36,594",0.16%
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%
30,31,Nagaland,-,"35,643","31,038",0.13%
31,32,Mizoram,-,-,"27,824",0.12%
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%

# Q4

In [107]:
driver=webdriver.Chrome()
driver.get("https://github.com/trending")

Repository_Title=[]
Repository_Description=[]
Contributors_Count=[]
Language_Used=[]
langs=[]
stars=[]
    
all_repos = driver.find_elements(By.XPATH, "//article[@class='Box-row']")
for repo in all_repos:
    try:
        lang = repo.find_element(By.XPATH,".//span[@itemprop='programmingLanguage']")
        langs.append(lang.text)
    except NoSuchElementException as e:
        langs.append('-')
    star_elem = repo.find_element(By.XPATH,".//a[@class='Link Link--muted d-inline-block mr-3']")
    stars.append(star_elem.text)
    title_elem = repo.find_element(By.XPATH,".//h2[@class='h3 lh-condensed']/a")
    Repository_Title.append(title_elem.text)
Language_Used = langs

Description_tags=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in Description_tags:
    Description=i.text
    Repository_Description.append(Description)


df=pd.DataFrame({"Repository_Title":Repository_Title,'Repository_Description':Repository_Description,'Total_Stars':stars,'Language_Used':Language_Used})
df

,Repository_Title,Repository_Description,Total_Stars,Language_Used
0,huggingface / lerobot,🤗 LeRobot: End-to-end Learning for Real-World ...,"3,883",Python
1,DaoCloud / public-image-mirror,很多镜像都在国外。比如 gcr 。国内下载很慢，需要加速。,"1,689",Shell
2,idootop / mi-gpt,🏠 将小爱音箱接入 ChatGPT 和豆包，改造成你的专属语音助手。,"4,118",TypeScript
3,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,"22,736",-
4,apple / swift-testing,"A modern, expressive testing package for Swift","1,268",Swift
5,apple / axlearn,An Extensible Deep Learning Library,"1,213",Python
6,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"272,963",-
7,coollabsio / coolify,An open-source & self-hostable Heroku / Netlif...,"23,781",PHP
8,karpathy / nanoGPT,"The simplest, fastest repository for training/...","33,609",Python
9,xenova / transformers.js,State-of-the-art Machine Learning for the web....,"9,061",JavaScript
10,litestar-org / litestar,"Production-ready, Light, Flexible and Extensib...","4,848",Python
11,coqui-ai / TTS,🐸💬 - a deep learning toolkit for Text-to-Speec...,"30,997",Python
12,3b1b / manim,Animation engine for explanatory math videos,"59,662",Python
13,juspay / hyperswitch,An open source payments switch written in Rust...,"10,788",Rust
14,dortania / OpenCore-Legacy-Patcher,Experience macOS just like before,"11,298",Python
15,AvaloniaUI / Avalonia,"Develop Desktop, Embedded, Mobile and WebAssem...","24,257",C#

# Q6

In [39]:
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare ")


Book_Name=[]
Author_Name=[]
Volume_Sold=[]
Publisher_Required=[]
Genre_Mentioned=[]

Book_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
for i in Book_tags:
    Book=i.text
    Book_Name.append(Book)

Author_tags=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in Author_tags:
    Author=i.text
    Author_Name.append(Author)

Volume_tags=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in Volume_tags:
    Volume=i.text
    Volume_Sold.append(Volume)
    
Publisher_tags=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in Publisher_tags:
    Publisher=i.text
    Publisher_Required.append(Publisher)

Genre_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')
for i in Genre_tags:
    Genre=i.text
    Genre_Mentioned.append(Genre)


df=pd.DataFrame({"Book_Name":Book_Name,'Author_Name':Author_Name,'Volume':Volume_Sold,'Publisher':Publisher_Required,'Genre':Genre_Mentioned})
df

,Book_Name,Author_Name,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7

In [147]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls512407256/")

Name_Title=[]
Year_span=[]
Genre_name=[]
Run_time=[]
Ratings=[]
Votes_Count=[]

all_shows = driver.find_elements(By.XPATH, "//div[@class='sc-74bf520e-2 cVXqoq']")
for s in all_shows:
    title_elem = s.find_element(By.XPATH, ".//h3[@class='ipc-title__text']")
    Name_Title.append(title_elem.text.split('.')[1])
    
    year_elem = s.find_elements(By.XPATH, ".//div[@class='sc-b189961a-7 feoqjK dli-title-metadata']/span")[0]
    Year_span.append(year_elem.text)
    
    runtime_elem = s.find_elements(By.XPATH, ".//div[@class='sc-b189961a-7 feoqjK dli-title-metadata']/span")[1]
    Run_time.append(runtime_elem.text)
    
    rating_elem = s.find_element(By.XPATH, ".//div[@class='sc-e2dbc1a3-0 ajrIH sc-b189961a-2 fkPBP dli-ratings-container']/span")
    Ratings.append(rating_elem.text.split('\n')[0])
    Votes_Count.append(rating_elem.text.split('\n')[1].replace('(', '').replace(')', ''))


df=pd.DataFrame({"Name":Name_Title,'Year_span':Year_span,'Run_time':Run_time,'Ratings':Ratings,"Votes":Votes_Count})
df

                            Name  Year_span Run_time Ratings  Votes
0                Game of Thrones  2011–2019   74 eps     9.2   2.3M
1                Stranger Things  2016–2025   42 eps     8.7   1.3M
2               The Walking Dead  2010–2022  177 eps     8.1   1.1M
3                 13 Reasons Why  2017–2020   49 eps     7.5   317K
4                        The 100  2014–2020  100 eps     7.6   278K
5        Orange Is the New Black  2013–2019   91 eps     8.0   321K
6                      Riverdale  2017–2023  137 eps     6.5   156K
7                 Grey's Anatomy      2005–  431 eps     7.6   344K
8                      The Flash  2014–2023  184 eps     7.5   369K
9                          Arrow  2012–2020  170 eps     7.5   447K
10                   Money Heist  2017–2021   41 eps     8.2   536K
11           The Big Bang Theory  2007–2019  280 eps     8.1   874K
12                  Black Mirror      2011–   33 eps     8.7   644K
13                      Sherlock  2010–2017   15 eps     9.1     1M
14                       Vikings  2013–2020   93 eps     8.5   587K
15           Pretty Little Liars  2010–2017  160 eps     7.4   179K
16           The Vampire Diaries  2009–2017  171 eps     7.7   352K
17         American Horror Story      2011–  133 eps     8.0   346K
18                  Breaking Bad  2008–2013   62 eps     9.5   2.2M
19                       Lucifer  2016–2021   93 eps     8.1   358K
20                  Supernatural  2005–2020  327 eps     8.4   486K
21                  Prison Break  2005–2017   90 eps     8.3   583K
22   How to Get Away with Murder  2014–2020   90 eps     8.1   168K
23                     Teen Wolf  2011–2017  100 eps     7.7   164K
24                  The Simpsons      1989–  768 eps     8.7   438K

# Q8

In [132]:
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

time.sleep(3)

view_dataset_btn = driver.find_element(By.XPATH, "//a[@class='btn-primary btn']")
view_dataset_btn.click()

time.sleep(5)

expand_btn = driver.find_element(By.XPATH, "//label[@class='btn-primary btn-sm btn flex gap-2 rounded-full']")
expand_btn.click()

Dataset_Name=[]
Data_Type=[]
Task_Name=[]
Attribute_Types=[]
No_of_instances=[]
No_of_attributes =[]
Year_mentioned=[]

Dataset_tags=driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']")
for i in Dataset_tags:
    Dataset=i.text
    Dataset_Name.append(Dataset)

all_datasets_container = driver.find_elements(By.XPATH, "//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']")
for c in all_datasets_container:
    type_name = c.find_elements(By.XPATH, ".//span[@class='truncate']")[1]
    Data_Type.append(type_name.text)
    
    instance_elem = c.find_elements(By.XPATH, ".//span[@class='truncate']")[2]
    No_of_instances.append(instance_elem.text.split(' ')[0])
    
    feature_elem = c.find_elements(By.XPATH, ".//span[@class='truncate']")[3]
    No_of_attributes.append(feature_elem.text.split(' ')[0])
    
    task_elem = c.find_elements(By.XPATH, ".//span[@class='truncate']")[0]
    Task_Name.append(task_elem.text)
    
    
date_tables = driver.find_elements(By.XPATH, "//table[@class='col-span-full my-2 table sm:col-start-2']")
for t in date_tables:
    td_elem = t.find_elements(By.XPATH, ".//tbody/tr/td")[2]
    Year_mentioned.append(td_elem.text.split('/')[2])
    
    feature_type_elem = t.find_elements(By.XPATH, ".//tbody/tr/td")[1]
    Attribute_Types.append(feature_type_elem.text)


df=pd.DataFrame({"Dataset_Name":Dataset_Name,'Data_Type':Data_Type,'Task':Task_Name,'Attribute':Attribute_Types,'No_of_instances':No_of_instances,"No_of_attributes":No_of_attributes,"Year":Year_mentioned})
df

,Dataset_Name,Data_Type,Task,Attribute,No_of_instances,No_of_attributes,Year
0,Iris,Tabular,Classification,Real,150,4,1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K,16,2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K,7,2019
4,Raisin,Multivariate,Classification,"Real, Integer",900,8,2023
5,Adult,Multivariate,Classification,"Categorical, Integer",48.84K,14,1996
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,1995
7,Wine,Tabular,Classification,"Integer, Real",178,13,1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K,12,2009
9,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K,17,2012