In [78]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [82]:
#Question_1
movie_names = []
release_years = []
ratings = []
page1=requests.get("https://www.imdb.com/list/ls056092300/")
movie_soup=BeautifulSoup(page1.content)
movie_list = movie_soup.find_all("h3", class_="lister-item-header")
for c in movie_list:
    name = c.contents[3].text
    movie_names.append(name)
for y in movie_soup.find_all("span",class_="lister-item-year text-muted unbold"):
    release_years.append(y.text.replace('(', '').replace(')', ''))
for r in movie_soup.find_all("div",class_="ipl-rating-star small"):
    ratings.append(r.contents[3].text)
    
    
df=pd.DataFrame({"Name":movie_names," Rating":ratings,"Year of release":release_years})
df

                                 Name  Rating Year of release
0                     Ship of Theseus       8            2012
1                              Iruvar     8.4            1997
2                     Kaagaz Ke Phool     7.8            1959
3   Lagaan: Once Upon a Time in India     8.1            2001
4                     Pather Panchali     8.2            1955
..                                ...     ...             ...
95                        Apur Sansar     8.4            1959
96                        Kanchivaram     8.2            2008
97                    Monsoon Wedding     7.3            2001
98                              Black     8.1            2005
99                            Deewaar       8            1975

[100 rows x 3 columns]

In [83]:
#Question 2

product_names=[]
price=[]
discounts=[]

page2=requests.get("https://peachmode.com/pages/search?q=bags")
soup=BeautifulSoup(page2.content)

for n in soup.find_all("div",class_="product-title"):
    product_names.append(n.text)
for p in soup.find_all("span",class_="price st-money money done"):
    price.append(p.text)
for d in soup.find_all("span",class_="discounted_price st-money money done"):
    discounts.append(d.text) 

df=pd.DataFrame({"Name":product_names,"Price":price,"Discount":discounts})
df

Empty DataFrame
Columns: [Name, Price, Discount]
Index: []

In [84]:
#Question 3
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

top_10_teams=[]
matches=[]
points=[]
ratings=[]

page3_teams=requests.get("https://www.icc-cricket.com/rankings/team-rankings/mens/odi")
soup=BeautifulSoup(page3_teams.content)

for tt in soup.find_all("div",class_="si-team-name"):
    top_10_teams.append(tt.contents[1].text)
for m in soup.find_all("div",class_="si-table-data si-matches"):
    matches.append(m.span.text)
for p in soup.find_all("div",class_="si-table-data si-pts"):
    points.append(p.span.text)
for r in soup.find_all("div",class_="si-table-data si-rating"):
    ratings.append(r.span.text)
    
df = pd.DataFrame({"Top_10_Teams":top_10_teams,"Matches":matches,"Points":points,"Ratings":ratings})
df

Empty DataFrame
Columns: [Top_10_Teams, Matches, Points, Ratings]
Index: []

In [85]:
#Question 3
# b) Top 10 ODI Batsmen along with the records of their team and rating.

top_10_batsmen=[]
batsmen_team=[]
batsmen_rating=[]

page3=requests.get("https://www.icc-cricket.com/rankings/batting/mens/odi")
soup=BeautifulSoup(page3.content)

for tb in soup.find_all("a",class_="si-player-name-wrap"):
    top_10_batsmen.append(tb.contents[0].text + tb.contents[1].text)
for bt in soup.find_all("h3",class_="si-team-name"):
    batsmen_team.append(bt.contents[1].text)
for br in soup.find_all("div",class_="si-table-data si-rating"):
    batsmen_rating.append(br.span.text)

df = pd.DataFrame({"Top_10_Batsmen":top_10_batsmen,"Batsmen_Team":batsmen_team,"Batsmen_Rating":batsmen_rating})
df

Empty DataFrame
Columns: [Top_10_Batsmen, Batsmen_Team, Batsmen_Rating]
Index: []

In [86]:
#Question 3
#c) Top 10 ODI bowlers along with the records of their team and rating

top_10_bowlers=[]
team=[]
rating=[]

page3=requests.get("https://www.icc-cricket.com/rankings/bowling/mens/odi")
soup=BeautifulSoup(page3.content)

for t in soup.find_all("h3",class_="si-player-name"):
    first_name = t.a.contents[0].text
    last_name = t.a.contents[1].text
    top_10_bowlers.append(first_name + last_name)
for m in soup.find_all("h3",class_="si-team-name"):
    team.append(m.contents[1].text)
for r in soup.find_all("div",class_="si-table-data si-best"):
    rating.append(r.span.text) 

df=pd.DataFrame({"Top_10_Bowlers":top_10_bowlers,"team":team,"Rating":rating})
df

Empty DataFrame
Columns: [Top_10_Bowlers, team, Rating]
Index: []

In [87]:
# Question 4
# Write a python program to scrape details of all the posts from https://www.patreon.com/coreyms .Scrape the
# heading, date, content and the likes for the video from the link for the youtube video from the post.
heading=[]
date=[]
contents=[]
likes=[]

page4=requests.get("https://www.patreon.com/coreyms")
soup=BeautifulSoup(page4.content)

for h in soup.find_all("div",class_="sc-bBHxTw iloeMK"):
    heading.append(h.text)
for d in soup.find_all("p",class_="sc-bqiRlB etUZPh sc-lgu5zg-1 bDqjCN"):
    date.append(d.span.button.span.text)
for c in soup.find_all('div', class_='sc-cfnzm4-0 kJujbw'):
    contents.append(c.p.text)
for l in soup.find_all("div",class_="sc-jrQzAO knZGTZ"):
    likes.append(l.span.text) 

df=pd.DataFrame({"Heading":heading,"Date":date,"Likes":likes, "Content": contents})
df

Empty DataFrame
Columns: [Heading, Date, Likes, Content]
Index: []

In [88]:
#Question 5 Indira Nagar

house_title=[]
location=[]
area=[]
EMI=[]
price=[]

page5=requests.get("https://www.nobroker.in/flats-for-sale-in-indira_nagar_bangalore")
soup=BeautifulSoup(page5.content)

for h in soup.find_all("h2",class_="heading-6 flex items-center font-semi-bold m-0"):
    house_title.append(h.a.text)
for l in soup.find_all("div",class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95"):
    location.append(l.text)
for a in soup.find_all("div",class_="flex flex-col w-33pe items-center tp:w-half po:w-full"):
    area.append(a.div.div.text) 
for e in soup.find_all("div",class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
    EMI.append(e.contents[2].div.contents[1].text)
    price.append(e.contents[1].div.span.text)

df=pd.DataFrame({"House_Title":house_title,"Location":location,"Area":area,"EMI":EMI,"Price":price})
df

,House_Title,Location,Area,EMI,Price
0,"2 BHK Apartment In Gopalan Admirality Court, I...","Gopalan Admirality Court, Indiranagar 6th Ma...","1,360 sqft",1.04 Lacs/Month,₹1.82 Crores
1,4 BHK Apartment In Codename Indiranagar For Sa...,"Codename Indiranagar Indiranagar, Bangalore.","2,600 sqft",3.44 Lacs/Month,₹6 Crores
2,3 BHK Apartment In Codename Indiranagar For Sa...,"Codename Indiranagar Indiranagar, Bangalore.","2,000 sqft",3.21 Lacs/Month,₹5.6 Crores
3,3 BHK Flat In Nilavu For Sale In Indiranagar,"Indira Nagar II Stage, Hoysala Nagar, Near BDA...","1,600 sqft",1.71 Lacs/Month,₹2.99 Crores
4,3 BHK Apartment In Mc Castle For Sale In Indi...,"Mc Castle 567, 17th Cross Rd, Indira Nagar II...","1,650 sqft",1.43 Lacs/Month,₹2.5 Crores
5,4+ BHK Flat In Saikrupa Apartment Indiranagar ...,1st Cross Road,"2,505 sqft",1.71 Lacs/Month,₹2.98 Crores
6,3 BHK Apartment In Sai Uday Mohan Apartments F...,Sai Uday Mohan Apartments Sai Uday Mohan Apar...,"1,530 sqft","89,983/Month",₹1.57 Crores
7,2 BHK Flat In Jmj Apartments For Sale In Indi...,"Opp. 6th main,100ft. road","1,210 sqft",1.29 Lacs/Month,₹2.25 Crores
8,3 BHK Apartment In Moonstone 201 For Sale In ...,"Moonstone 201 Kristal Moonstone, 1st Cross Rd...","1,475 sqft",1.26 Lacs/Month,₹2.2 Crores
9,3 BHK Flat In Gopalan Admirality Court For Sal...,"6th Main Rd, Eshwara Layout, Indiranagar, Ben...","1,900 sqft",1.43 Lacs/Month,₹2.5 Crores
10,2 BHK Flat In Lords Aparment For Sale In Kodi...,"80 Feet Road, HAL 2nd Stage near Liquid Propul...",900 sqft,"57,314/Month",₹1 Crore
11,4+ BHK Flat In Standalone Building For Sale ...,Appareddipalya Near ESI Hospital,"2,700 sqft",6.3 Lacs/Month,₹11 Crores
12,3 BHK Flat In Laa Royal Manor For Sale In Ind...,"11th Cross Rd, 11th cross","1,900 sqft",1.43 Lacs/Month,₹2.5 Crores
13,3 BHK Apartment In Sai Uday Mohan Apartments F...,"Sai Uday Mohan Apartments 38, Appareddy Palya...","1,530 sqft","88,837/Month",₹1.55 Crores
14,"2 BHK Flat In Pooja Residency, Indira Nagar Fo...","Indira Nagar, HAL 2nd Stage, Bangalore, Karnat...","1,200 sqft","43,559/Month",₹76 Lacs
15,4 BHK Flat In Sri Gayatri Pride For Sale In I...,Behind Carlton Towers,"1,600 sqft",1.72 Lacs/Month,₹3 Crores
16,2 BHK Flat In S R Ruby For Sale In Indiranagar,"14th Main Rd, HAL 2nd Stage, near New Horizon ...",950 sqft,"51,583/Month",₹90 Lacs
17,2 BHK Flat In Carnberry For Sale In Cranberry...,Indiranagar 13th main,"1,100 sqft","45,851/Month",₹80 Lacs
18,"3 BHK Flat In Prabhu Kunj Apartment, Indiranag...","6th Main Rd, Eshwara Layout, Indiranagar, Beng...","1,500 sqft",1.03 Lacs/Month,₹1.8 Crores
19,3 BHK Apartment In Kristal Moonstone For Sale ...,"Kristal Moonstone Kristal Moonstone, 1st Cros...","1,480 sqft",1.32 Lacs/Month,₹2.3 Crores
20,2 BHK Flat In Sai Uday Mohan Apartments For Sa...,"Sai Uday Mohan Apartments, 38, Appareddy Palya...","1,260 sqft","60,180/Month",₹1.05 Crores
21,3 BHK Flat In Sansa Apartment For Sale In In...,80 Feet Road near Empire Restaurant - Indiranagar,"2,983 sqft",2.69 Lacs/Month,₹4.7 Crores
22,"3 BHK Flat In Dharmika Sansa, Bangalore For S...",6th A Cross Road,"2,989 sqft",2.64 Lacs/Month,₹4.6 Crores
23,3 BHK Flat In Lexington Avenue For Sale In De...,"100ft road, near woodland","2,296 sqft",3.44 Lacs/Month,₹6 Crores
24,3 BHK Flat In Sansa Apartment For Sale In Ind...,"HAL 2nd Stage, near NPS Indira nagar","2,989 sqft",2.58 Lacs/Month,₹4.5 Crores
25,"2 BHK Apartment In Gopalan Admirality Court, I...","Gopalan Admirality Court, Indiranagar 6th Ma...","1,360 sqft",1.04 Lacs/Month,₹1.82 Crores

In [89]:
#Question 5 Jayanagar


house_title=[]
location=[]
area=[]
EMI=[]
price=[]

page5=requests.get("https://www.nobroker.in/flats-for-sale-in-jayanagar_bangalore")
soup=BeautifulSoup(page5.content)

for h in soup.find_all("h2",class_="heading-6 flex items-center font-semi-bold m-0"):
    house_title.append(h.a.text)
for l in soup.find_all("div",class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95"):
    location.append(l.text)
for a in soup.find_all("div",class_="flex flex-col w-33pe items-center tp:w-half po:w-full"):
    area.append(a.div.div.text) 
for e in soup.find_all("div",class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
    EMI.append(e.contents[2].div.contents[1].text)
    price.append(e.contents[1].div.span.text)

df=pd.DataFrame({"House_Title":house_title,"Location":location,"Area":area,"EMI":EMI,"Price":price})
df

,House_Title,Location,Area,EMI,Price
0,3 BHK Flat In Gokula Krishna Apartment For Sal...,South End Rd near Reliance Fresh,"2,100 sqft",1.43 Lacs/Month,₹2.5 Crores
1,3 BHK Apartment In Gokul Lake View Apartments ...,Gokul Lake View Apartments Gokul Lake View Ap...,"1,852 sqft","92,849/Month",₹1.62 Crores
2,3 BHK Flat In Santa Clara Apartment For Sale ...,"3Rd Cross Rd18th main, 9th Block, Marenahalli","1,395 sqft","65,911/Month",₹1.15 Crores
3,3 BHK Apartment In Amarjyothi Apartments For S...,"Amarjyothi Apartments Jayanagar 6th block, Ba...","1,552 sqft","96,861/Month",₹1.69 Crores
4,3 BHK Flat In Suraj Lakshmi Apartments For Sal...,"34/1, 1st Main Rd, Tata Silk Farm, Basavanagud...","1,226 sqft","68,777/Month",₹1.2 Crores
5,3 BHK Flat In Sri Maruthi For Sale In Jayanagar,Indira Gandhi Institute Of Child Health 1st Bl...,"1,400 sqft","68,777/Month",₹1.2 Crores
6,2 BHK Flat In Pallava Terrace Apartments For S...,"Pallava Terrace Tata Silk Farm, Jayanagar, Ben...","1,050 sqft","80,240/Month",₹1.4 Crores
7,3 BHK Apartment In Jayanagar Residency For Sal...,Jayanagar Residency Jayanagar Jayanagar Resi...,"2,000 sqft",1.29 Lacs/Month,₹2.25 Crores
8,2 BHK Apartment In Alpine Regency For Sale In...,"Alpine Regency Alpine Regency, 10th D Main R...","1,320 sqft","94,568/Month",₹1.65 Crores
9,3 BHK Flat In Mayitri Enclave For Sale In Jay...,"Mayitri Enclave,5T Block, 4th T Block East, Ja...","1,350 sqft","48,717/Month",₹85 Lacs
10,4 BHK Apartment In B And B Opulent Spire For S...,B and B Opulent Spire Near Bharat Petroleum C...,"2,899 sqft",2.93 Lacs/Month,₹5.11 Crores
11,3 BHK Apartment In Lodha Azur For Sale near Ja...,"Lodha Azur Akshay Nagar,Bangalore","1,710 sqft",1.29 Lacs/Month,₹2.25 Crores
12,3 BHK Flat In Parasmani Regency For Sale In J...,behind Southend metro,"1,959 sqft",1.59 Lacs/Month,₹2.77 Crores
13,2 BHK Flat In Jayanagar Residency For Sale In...,"jayanager residency. near D mart, Jayanager 3r...","1,167 sqft","80,240/Month",₹1.4 Crores
14,3 BHK Apartment In Uber Paxina For Sale In Ja...,"Uber Paxina 1152, 26th Main Rd, 4th T Block E...","1,845 sqft",1.43 Lacs/Month,₹2.5 Crores
15,2 BHK Apartment In Shanthi Park Apartments For...,Shanthi Park Apartments SHANTHI PARK APARTM...,930 sqft,"91,703/Month",₹1.6 Crores
16,3 BHK Flat In Oakyard Apartment For Sale In J...,"East End C Main Road, 38th Cross Rd, Tilak Nag...","2,006 sqft",1.72 Lacs/Month,₹3 Crores
17,2 BHK Apartment In R K Gold Apartment For Sale...,"R K Gold Apartment Mariswamappa Rd, 560011, 8...","1,100 sqft","25,791/Month",₹45 Lacs
18,3 BHK Flat In Ar Residency For Sale In Jayanagar,3rd Block East Near Medicure Hospital As Healt...,"1,476 sqft","92,849/Month",₹1.62 Crores
19,3 BHK Flat In Silicon Sattva For Sale In Jaya...,"4th Main Road, Jayanagar 6th Block,Near Nimish...","1,500 sqft","80,240/Month",₹1.4 Crores
20,2 BHK Flat In Krishna Lake View Building For S...,"164/120, Kanakapura Rd, Sakamma Garden, Jayana...",780 sqft,"31,522/Month",₹55 Lacs
21,"3 BHK Flat In Rrbc Piccassso, Jayanagar For Sa...",Marenahalli Near GNR Kalyanamantapa,"2,119 sqft",2.12 Lacs/Month,₹3.7 Crores
22,3 BHK Flat In Paras Mehak For Sale In Jayanagar,"36th Cross Rd, Near Jal Bhavan, 4th T Block Ea...","1,150 sqft","42,985/Month",₹75 Lacs
23,2 BHK Flat In Balaji Enclave For Sale In Jaya...,"Balaji enclave Vedantha Mandir Rd, 2nd Block,...","1,180 sqft","51,583/Month",₹90 Lacs
24,4 BHK Flat In Sai Niwas For Sale In Jayanagar,"9th Main Rd, near CafÃ© Coffee Day","1,600 sqft","85,971/Month",₹1.5 Crores
25,3 BHK Flat In Gokula Krishna Apartment For Sal...,South End Rd near Reliance Fresh,"2,100 sqft",1.43 Lacs/Month,₹2.5 Crores

In [90]:
#Question 5 Rajaji Nagar

house_title=[]
location=[]
area=[]
EMI=[]
price=[]

page5=requests.get("https://www.nobroker.in/flats-for-sale-in-jayanagar_bangalore")
soup=BeautifulSoup(page5.content)

for h in soup.find_all("h2",class_="heading-6 flex items-center font-semi-bold m-0"):
    house_title.append(h.a.text)
for l in soup.find_all("div",class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95"):
    location.append(l.text)
for a in soup.find_all("div",class_="flex flex-col w-33pe items-center tp:w-half po:w-full"):
    area.append(a.div.div.text) 
for e in soup.find_all("div",class_="p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0"):
    EMI.append(e.contents[2].div.contents[1].text)
    price.append(e.contents[1].div.span.text)

df=pd.DataFrame({"House_Title":house_title,"Location":location,"Area":area,"EMI":EMI,"Price":price})
df

,House_Title,Location,Area,EMI,Price
0,3 BHK Flat In Gokula Krishna Apartment For Sal...,South End Rd near Reliance Fresh,"2,100 sqft",1.43 Lacs/Month,₹2.5 Crores
1,3 BHK Apartment In Gokul Lake View Apartments ...,Gokul Lake View Apartments Gokul Lake View Ap...,"1,852 sqft","92,849/Month",₹1.62 Crores
2,3 BHK Flat In Santa Clara Apartment For Sale ...,"3Rd Cross Rd18th main, 9th Block, Marenahalli","1,395 sqft","65,911/Month",₹1.15 Crores
3,3 BHK Apartment In Amarjyothi Apartments For S...,"Amarjyothi Apartments Jayanagar 6th block, Ba...","1,552 sqft","96,861/Month",₹1.69 Crores
4,3 BHK Flat In Suraj Lakshmi Apartments For Sal...,"34/1, 1st Main Rd, Tata Silk Farm, Basavanagud...","1,226 sqft","68,777/Month",₹1.2 Crores
5,3 BHK Flat In Sri Maruthi For Sale In Jayanagar,Indira Gandhi Institute Of Child Health 1st Bl...,"1,400 sqft","68,777/Month",₹1.2 Crores
6,2 BHK Flat In Pallava Terrace Apartments For S...,"Pallava Terrace Tata Silk Farm, Jayanagar, Ben...","1,050 sqft","80,240/Month",₹1.4 Crores
7,3 BHK Apartment In Jayanagar Residency For Sal...,Jayanagar Residency Jayanagar Jayanagar Resi...,"2,000 sqft",1.29 Lacs/Month,₹2.25 Crores
8,2 BHK Apartment In Alpine Regency For Sale In...,"Alpine Regency Alpine Regency, 10th D Main R...","1,320 sqft","94,568/Month",₹1.65 Crores
9,3 BHK Flat In Mayitri Enclave For Sale In Jay...,"Mayitri Enclave,5T Block, 4th T Block East, Ja...","1,350 sqft","48,717/Month",₹85 Lacs
10,4 BHK Apartment In B And B Opulent Spire For S...,B and B Opulent Spire Near Bharat Petroleum C...,"2,899 sqft",2.93 Lacs/Month,₹5.11 Crores
11,3 BHK Apartment In Lodha Azur For Sale near Ja...,"Lodha Azur Akshay Nagar,Bangalore","1,710 sqft",1.29 Lacs/Month,₹2.25 Crores
12,3 BHK Flat In Parasmani Regency For Sale In J...,behind Southend metro,"1,959 sqft",1.59 Lacs/Month,₹2.77 Crores
13,2 BHK Flat In Jayanagar Residency For Sale In...,"jayanager residency. near D mart, Jayanager 3r...","1,167 sqft","80,240/Month",₹1.4 Crores
14,3 BHK Apartment In Uber Paxina For Sale In Ja...,"Uber Paxina 1152, 26th Main Rd, 4th T Block E...","1,845 sqft",1.43 Lacs/Month,₹2.5 Crores
15,2 BHK Apartment In Shanthi Park Apartments For...,Shanthi Park Apartments SHANTHI PARK APARTM...,930 sqft,"91,703/Month",₹1.6 Crores
16,3 BHK Flat In Oakyard Apartment For Sale In J...,"East End C Main Road, 38th Cross Rd, Tilak Nag...","2,006 sqft",1.72 Lacs/Month,₹3 Crores
17,2 BHK Apartment In R K Gold Apartment For Sale...,"R K Gold Apartment Mariswamappa Rd, 560011, 8...","1,100 sqft","25,791/Month",₹45 Lacs
18,3 BHK Flat In Ar Residency For Sale In Jayanagar,3rd Block East Near Medicure Hospital As Healt...,"1,476 sqft","92,849/Month",₹1.62 Crores
19,3 BHK Flat In Silicon Sattva For Sale In Jaya...,"4th Main Road, Jayanagar 6th Block,Near Nimish...","1,500 sqft","80,240/Month",₹1.4 Crores
20,2 BHK Flat In Krishna Lake View Building For S...,"164/120, Kanakapura Rd, Sakamma Garden, Jayana...",780 sqft,"31,522/Month",₹55 Lacs
21,"3 BHK Flat In Rrbc Piccassso, Jayanagar For Sa...",Marenahalli Near GNR Kalyanamantapa,"2,119 sqft",2.12 Lacs/Month,₹3.7 Crores
22,3 BHK Flat In Paras Mehak For Sale In Jayanagar,"36th Cross Rd, Near Jal Bhavan, 4th T Block Ea...","1,150 sqft","42,985/Month",₹75 Lacs
23,2 BHK Flat In Balaji Enclave For Sale In Jaya...,"Balaji enclave Vedantha Mandir Rd, 2nd Block,...","1,180 sqft","51,583/Month",₹90 Lacs
24,4 BHK Flat In Sai Niwas For Sale In Jayanagar,"9th Main Rd, near CafÃ© Coffee Day","1,600 sqft","85,971/Month",₹1.5 Crores
25,3 BHK Flat In Gokula Krishna Apartment For Sal...,South End Rd near Reliance Fresh,"2,100 sqft",1.43 Lacs/Month,₹2.5 Crores

In [93]:
#Question 6

product_name=[]
price=[]
images=[]

page6=requests.get("https://www.bewakoof.com/bestseller?sort=popular")
soup=BeautifulSoup(page6.content)

for pn in soup.find_all("div",class_="productNaming bkf-ellipsis"):
    product_name.append(pn.h2.text)
for p in soup.find_all("div",class_="discountedPriceText clr-p-black false"):
    price.append(p.contents[1].text)
for i in soup.find_all("img",class_="productImgTag"):
    images.append(i.get('src'))

df=pd.DataFrame({"Product_Name":product_name,"Price":price,"Image":images})
df

,Product_Name,Price,Image
0,Women's Pink & White Camo Printed Oversized Sh...,599,https://images.bewakoof.com/t640/women-s-pink-...
1,Women's Brown Cargo Pants,1199,https://images.bewakoof.com/t640/women-s-strai...
2,Women's Black Straight Cargo Pants,1299,https://images.bewakoof.com/t640/women-s-black...
3,Women's Brown Straight Cargo Pants,1399,https://images.bewakoof.com/t640/women-s-brown...
4,Men's Blue Rider Vroom Panda Graphic Printed T...,449,https://images.bewakoof.com/t640/men-s-blue-ri...
5,Women's Pink Camo Printed Oversized Short Top,499,https://images.bewakoof.com/t640/women-aop-ove...
6,Men's Black Mickey Trio Call (DL) Graphic Prin...,449,https://images.bewakoof.com/t640/men-s-black-m...
7,Women's White Camo Printed Oversized Short Top,519,https://images.bewakoof.com/t640/women-aop-ove...
8,Women's Black All Over Printed Oversized Short...,499,https://images.bewakoof.com/t640/women-aop-ove...
9,Women's White Bored Typography Oversized Short...,499,https://images.bewakoof.com/t640/women-white-p...

In [94]:
#Question 7
headings=[]
dates=[]
news_links=[]

page7=requests.get("https://www.cnbc.com/world/?region=world")
soup=BeautifulSoup(page7.content)

for h in soup.find_all("div",class_="LatestNews-headlineWrapper"):
    if(h.contents[1].get('href') and h.contents[1].get('href').find('cnbc') > -1):
        headings.append(h.contents[1].text)
        
        news_link = h.contents[1].get('href')
        news_links.append(news_link)
        dates.append(h.span.time.text)

df=pd.DataFrame({"Headings":headings,"News_link":news_links, "Date": dates})
df

,Headings,News_link,Date
0,Treasury yields dip ahead of gross domestic pr...,https://www.cnbc.com/2024/04/25/us-treasury-yi...,14 Min Ago
1,"Inflation, operating costs had the biggest imp...",https://www.cnbc.com/2024/04/25/inflation-bigg...,49 Min Ago
2,BHP makes $39 billion bid for Anglo American i...,https://www.cnbc.com/2024/04/25/bhp-group-make...,2 Hours Ago
3,Xpeng's Gu says robotaxis won’t be a real busi...,https://www.cnbc.com/2024/04/25/xpengs-gu-says...,3 Hours Ago
4,Barclays shares up 4% as bank swings back to p...,https://www.cnbc.com/2024/04/25/barclays-swing...,3 Hours Ago
5,Nvidia-backed startup Synthesia unveils AI ava...,https://www.cnbc.com/2024/04/25/nvidia-backed-...,3 Hours Ago
6,Deutsche Bank posts better-than-expected profi...,https://www.cnbc.com/2024/04/25/deutsche-bank-...,4 Hours Ago
7,Japanese yen hits fresh 34-year low despite ve...,https://www.cnbc.com/2024/04/25/japanese-yen-h...,4 Hours Ago
8,K-pop agency Hybe accuses sublabel executives ...,https://www.cnbc.com/2024/04/25/hybe-files-com...,5 Hours Ago
9,"Walgreens launches cell, gene therapy services...",https://www.cnbc.com/2024/04/25/walgreens-laun...,5 Hours Ago
10,India markets face a correction if Modi's elec...,https://www.cnbc.com/2024/04/25/india-election...,5 Hours Ago
11,Nvidia supplier SK Hynix reverses losses in fi...,https://www.cnbc.com/2024/04/25/nvidia-supplie...,6 Hours Ago
12,Surrey Hills Grocer: How I started an $8 milli...,https://www.cnbc.com/2024/04/25/surrey-hills-g...,8 Hours Ago
13,Geely-backed luxury EV brand Zeekr says it's b...,https://www.cnbc.com/2024/04/25/geely-backed-l...,8 Hours Ago
14,"Amazon aggregator Thrasio loses CEO, other exe...",https://www.cnbc.com/2024/04/24/amazon-aggrega...,9 Hours Ago
15,Nikkei leads losses in Asia markets as rally h...,https://www.cnbc.com/2024/04/25/asia-markets.html,9 Hours Ago
16,Meta loses $200 billion in value as Zuckerberg...,https://www.cnbc.com/2024/04/24/meta-loses-200...,9 Hours Ago
17,"Cramer's bullish on Apple's Vision Pro, pointi...",https://www.cnbc.com/2024/04/24/cramers-bullis...,10 Hours Ago
18,Cramer's Lightning Round: Cloudflare is a buy,https://www.cnbc.com/2024/04/24/cramers-lightn...,10 Hours Ago
19,Cramer says the pull of the bond market is wor...,https://www.cnbc.com/2024/04/24/cramer-pull-of...,10 Hours Ago
20,Chipotle abandons Farmesa Fresh Eatery spinoff...,https://www.cnbc.com/2024/04/24/chipotle-aband...,11 Hours Ago
21,"Rubrik prices IPO at $32 per share, above the ...",https://www.cnbc.com/2024/04/24/rubrik-prices-...,12 Hours Ago
22,House Speaker Johnson drowned out by booing cr...,https://www.cnbc.com/2024/04/24/speaker-johnso...,12 Hours Ago

In [95]:
#Question 8
Paper_title=[]
date=[]
Author=[]

page8=requests.get("https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/")
soup=BeautifulSoup(page8.content)
for p in soup.find_all("h2",class_="h5 article-title"):
    Paper_title.append(p.a['href'])
for d in soup.find_all("p",class_="article-date"):
    date.append(d.text)
for n in soup.find_all("p",class_="article-authors"):
    Author.append(n.text) 

df=pd.DataFrame({"Paper_title":Paper_title,"Date":date,"Author":Author})
df

,Paper_title,Date,Author
0,http://www.sciencedirect.com/science/article/p...,2020,Tanha Talaviya | Dhara Shah | Nivedita Pate...
1,http://www.sciencedirect.com/science/article/p...,June 2019,Kirtan Jha | Aalap Doshi | Poojan Patel | ...
2,http://www.sciencedirect.com/science/article/p...,2022,Jinyuan Xu | Baoxing Gu | Guangzhao Tian
3,http://www.sciencedirect.com/science/article/p...,2021,A. Subeesh | C.R. Mehta
4,http://www.sciencedirect.com/science/article/p...,2020,Zongmei Gao | Yuanyuan Shao | Guantao Xuan ...
5,http://www.sciencedirect.com/science/article/p...,2020,Vijai Singh | Namita Sharma | Shikha Singh
6,http://www.sciencedirect.com/science/article/p...,2020,Juzhong Tan | Jie Xu
7,http://www.sciencedirect.com/science/article/p...,March 2023,Matteo Rizzo | Matteo Marcuzzo | Alessandro...
8,http://www.sciencedirect.com/science/article/p...,2022,V.G. Dhanya | A. Subeesh | N.L. Kushwaha | ...
9,http://www.sciencedirect.com/science/article/p...,March 2024,P. Isaac Ritharson | Kumudha Raimond | X. A...
10,http://www.sciencedirect.com/science/article/p...,2022,Ananda S. Paymode | Vandana B. Malode
11,http://www.sciencedirect.com/science/article/p...,June 2023,Vilani Sachithra | L.D.C.S. Subhashini
12,http://www.sciencedirect.com/science/article/p...,September 2023,Md Taimur Ahad | Yan Li | Bo Song | Touhid...
13,http://www.sciencedirect.com/science/article/p...,2021,Punam Bedi | Pushkar Gole
14,http://www.sciencedirect.com/science/article/p...,2022,A. Subeesh | S. Bhole | K. Singh | N.S. Ch...
15,http://www.sciencedirect.com/science/article/p...,2022,Abderahman Rejeb | Karim Rejeb | Suhaiza Za...
16,http://www.sciencedirect.com/science/article/p...,September 2023,Oumnia Ennaji | Leonardus Vergütz | Achraf ...
17,http://www.sciencedirect.com/science/article/p...,2022,Md Ekramul Hossain | Muhammad Ashad Kabir | ...
18,http://www.sciencedirect.com/science/article/p...,2020,Cedric Okinda | Innocent Nyalala | Tchalla ...
19,http://www.sciencedirect.com/science/article/p...,December 2023,Filbert H. Juwono | W.K. Wong | Seema Verma...
20,http://www.sciencedirect.com/science/article/p...,2020,Misbah Pathan | Nivedita Patel | Hiteshri Y...
21,http://www.sciencedirect.com/science/article/p...,March 2024,Galib Muhammad Shahriar Himel | Md. Masudul ...
22,http://www.sciencedirect.com/science/article/p...,2022,Masahiro Ryo
23,http://www.sciencedirect.com/science/article/p...,December 2023,R. Abbasi | P. Martinez | R. Ahmad
24,http://www.sciencedirect.com/science/article/p...,March 2024,Kris Wonggasem | Pongsan Chakranon | Papis ...